<!--The whole content below can be removed with the new code.-->
<!--div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
    ... Starter Files ...
    <div>
      <div class='wrapper'>
        <div class='container' [dragula]='"bag-task1"' >
          <div>task 1: create a new angular project using npm</div>
          <div>task 2: move into your project folder</div>
          <div>task 3: install ng2-dragula component in your angular project</div>
        </div>
        <div class='container' [dragula]='"bag-task1"' >
          <div>task 4: import the module in the app module and add it to the NgModule imports</div>
          <div>task 5: in the app component import the Dragula service, inject it into the constructor and set dragula options</div>
          <div>task 6: in the app template, add the html code with the property dragula and use the customized css classes</div>
        </div>
      </div>
    </div>

    <ul>
      <li draggable>Coffee</li>
      <li draggable>Tea</li>
      <li draggable>Milk</li>
    </ul>  
    <div droppable>
      <p>Drop items here</p>
    </div>   
  </div-->
  <!--complete-demo></complete-demo-->
  <item-comp></item-comp>
  <delete-item></delete-item>
  